/BraveSoftware/*
/Code - OSS/*
/Debauchee/*
/Electron/*
/GIMP/*
/GitDesktop/*
/Kvantum/*
/MControlCenter.conf*
/Meltytech/*
/QtProject.conf*
/QtProject/*
/Thunar/*
/Upscayl/*
/VirtualBox/*
/ags.berz/*
/andre-simon.de/*
/ardour7/*
/autorandr/*
/autostart/*
/azote/*
/balena-etcher-electron/*
/balena-etcher/*
/blender/*
/calcure/*
/cargo/*
/cef_user_data/*
/conda/*
/ctpv/*
/dconf/*
/designer/*
/dlauncher/*
/dmenu/*
/dunst/*
/duplicate/*
/dwm-old/*
/evolution/*
/font-manager/*
/fontconfig/*
/geany/*
/git/*
/go/*
/googlecalendardark-nativefier-e22938/*
/gpick/*
/gtk-2.0/*
/gtk-3.0/*
/home/*
/htop/*
/hypr.old/*
/inkscape/*
/ipython/*
/jupyter/*
/kde.org/*
/kdeconnect/*
/kdeglobals*
/lazygit/*
/libfm/*
/libinput-gestures.conf*
/libreoffice/*
/libvirt/*
/ltspice/*
/mako/*
/menus/*
/mimeapps.list*
/mpDris2/*
/mpd/*
/mplayer/*
/ncmpcpp/*
/neofetch/*
/nitrogen/*
/npm/*
/nvidia/*
/nwg-dock-hyprland/*
/nwg-dock/*
/nwg-look/*
/obmenu-generator/*
/obs-studio/*
/obsidian/*
/openbox/*
/pavucontrol.ini*
/plank/*
/pulse/*
/qalculate/*
/qt5ct/*
/river/*
/slimbookbattery/*
/slimbookintelcontroller/*
/sozi/*
/spotify/*
/sxhkd/*
/systemd/*
/terminology/*
/tlpui/*
/tmux/*
/variety/*
/viewnior/*
/vim/*
/vimwiki/*
/vlc/*
/xarchiver/*
/xfburn/*
/xfce4/*
/xmonad/*
/xsettingsd/*
/yarn/*
/zsh/src/plugins/*
